.Weather {
  padding: 10px;
  padding-top: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-image: linear-gradient(to top, #defcf9, #cadefc, #c3bef0, #cca8e9);
}
.Weather h1,
h2,
h3,
h4 {
  color: #6b7279;
}
.Weather h1 {
  font-size: 80px;
  display: inline;
}
.Weather img {
  width: 225;
  height: 225;
}
.Weather .unit {
  position: relative;
  top: -40px;
  left: 10px;
  color: #6b7279;
  font-size: 20px;
}
.Weather a {
  text-decoration: none;
}
